{{> post-info post }}

{{#if loggedIn}}
<form class="comment-form card">
    <div class="card-header">Add New Comment</div>
    <div class="comment-form-body">

        <div>
            <textarea name="comment-body" class="form-textarea"></textarea>
        </div>
        <div>
            <button type="submit" class="btn">Add Comment</button>
        </div>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}