<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Tech Blog</title>
  </head>
  <body class="flex-column min-100-vh">
    <header class="hero">
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/dashboard">Dashboard</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
          <button id="logout" class="btn-no-style">Logout</button>
        </ul>
      </nav>
      <h1 class="app-title">The Tech Blog</h1>
    </header>
    <main>
      {{{body}}}
    </main>
    <script src="/javascript/logout.js"></script>
  </body>
</html>